@{
    ViewData["Title"] = "Email Sent";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Email Sent</h2>        
        <p class="text-center">An email has been sent to your address. Please check your inbox and click the verification link.</p>
        <div class="text-center mt-2">
            <a asp-controller="Account" asp-action="Login" class="text-decoration-none mt-3">Back to Login</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}